$a: #1974E0;
$b: #1AB0EB;
$c: #22D1D4;
$d: #1AEBB3;
$e: #19E073;
$orange: #E08819;

$grey: #cdcdcd;
$lightgrey: #e5e5e5;
$darkgrey: #454545;

$dartext: #0a0e0e;

$rows: 9;
$cols: 9; // don't forget to make the Haml match
$mines: 10;

$neighbor1: #0000ff;
$neighbor2: #007b00;
$neighbor3: #ff0000;
$neighbor4: #00007b;
$neighbor5: #7b0000;
$neighbor6: #007b7b;
$neighbor7: #000000;
$neighbor8: #7b7b7b;
